* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}

body, html {
    width: 100%;
    height: 100%;
    background: lightgrey;
}

.shop-box {
    margin: 4%;
    background: white;
    border: 1px solid lightgray;
}

.shop-box-etapas {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 5%;
    text-align: center;
}

.shop-box-etapas__title {
    width: calc(100%/3);
    padding: 3%;
    border: 1px solid lightgray;
}

.shop-box-etapas__title--pink {
    background: palevioletred;
    color: white;
}

.circulo {
    display: inline-block;
    width: 30px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 100%;
}

.shop-box__text {
    margin: 4%;
}

.shop-cart-titles {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 5% 15%;
}

.shop-cart-titles__item {
    margin-right: 15%;
}

.shop-cart {
    width: 90%;
    margin: 3%;
}

.shop-cart-produto {
    width: 100%;
    margin: 3% 0;
    padding: 3% 0;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    vertical-align: center;
}

.shop-cart-produto__cancel {
    margin-right: 15px;
}

.shop-cart-produto__cancel img {
    width: 20px;
}

.shop-cart-produto__img {
    width: 70px;
}

.shop-cart-produto__img img {
    width: 60px;
    height: 80px;
}

.shop-cart-produto-description {
    display: block;
    /* width: 50%; */
    margin: 0;
    text-align: left;
}

.shop-cart-produto__name {
    width: 100%;
    font-size: 1.3rem;
}

.shop-cart-produto__details {
    width: 100%;
    font-size: 0.9rem;
    color: gray;
}

.color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid lightgray;
}

.color-purple {
    background: violet;
}

.color-orange {
    background: orange;
}

.color-blue {
    background: lightskyblue;
}

.shop-cart-produto__price {
    /* margin-left: 6%; */
}

.shop-cart-produto__qty {
    width: 30px;
}

.shop-cart-produto__total {
    
}


.shop-cart__subtotal {
    text-align: right;
    margin: 3%;
}

.shop-box-back {
    /* float: left; */
    display: inline-block;
}

.shop-box-back__icon {
    width: 30px;
}

.shop-box-back__text {
    font-size: 1rem;
}

.shop-box__button {
    /* float: right; */
    margin: 3%;
    padding: 2%;
    border: none;
    background: green;
}

.shop-box-etapas__title--orange {
    background: orangered;
    color: white;
}