
.row {
    display: flex;
    width: 100%;
}

.row:not(:first-of-type) {
    margin-top: 1rem;
}

.col-tb-1 {
    width: 12.5%;
}

.col-tb-2 {
    width: 25%;
}

.col-tb-3 {
    width: 37.5%;
}

.col-tb-4 {
    width: 50%;
}

.col-tb-5 {
    width: 62.5%;
}

.col-tb-6 {
    width: 75%;
}

.col-tb-7 {
    width: 87.5%;
}

.col-tb-8 {
    width: 100%;
}

.col-tb-offset-2 {
    margin-left: calc(25% + 1rem);
}

.pull-right {
    float: right;
}

[class*="col-"]:not(:last-of-type) {
    margin-right: 1rem;
}