* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.all-padding {
    width: 100%;
    padding: 0 15%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4% 2%;
    font-size: 1.2rem;
}

.navbar__description {
    width: 25%;
    text-align: left;
    color: grey;
}

.navbar__logo {
    width: 25%;
}

.navbar-list {
    width: 25%;
    text-align: right;
    font-size: 0.9rem;
}

.navbar__link {
    color: grey;
    margin: 0 3%;
}

.pages {
    padding: 2% 7%;
}

.pages-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pages-list__link {
    color: #5a6cd8;
    text-transform: uppercase;
    font-weight: bold;
}

.lookbook {
    width: 100%;
    padding: 4% 0;
}

.lookbook-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: grey;
    font-size: 0.8rem;
}

.lookbook-title {
    display: block;
    margin: 5% auto;
    text-align: center;
}

.lookbook-title__title {
    color: #5a6cd8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.lookbook-title__text {
    margin: 0;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.row:not(:first-of-type) {
    margin-top: 1rem;
}

.lookbook-row-sale {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lookbook-row-sale__price {
    padding: 0;
    text-transform: uppercase;
    color: #5a6cd8;
    font-size: 1rem;
}

.lookbook-row-sale__icon {
    width: 35%;
    padding: 2% 0;
}

.lookbook-row-pic--vertical {
    width: 100%;
}

.lookbook-row-pic--vertical__pic {
    padding: 0;
}

.lookbook-row-phrases {
    /* height: 250px; */
    padding: 17% 1%;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    font-size: 1.2rem;
}

.lookbook-row-phrases__text {
    padding: 0;
}

.lookbook-row-phrases__line {
    width: 25px;
    height: 3px;
    padding: 0;
    margin: 2% auto 0 auto;
    background: lightgray;
}

.lookbook-row-pic--horizontal {
    width: 100%;
}

.lookbook-row-pic--horizontal__pic {
    padding: 0;
}

.row--flex-start {
    align-items: flex-start;
}

.lookbook-row-pic--square__pic {
    width: 100%;
}

.lookbook-row-phrases__text--square {
    padding: 20% 0 2% 0;
}

.lookbook-row-phrases--blue {
    background: #5a6cd8;
    border: 15px solid #5a6cd8;
    box-shadow: inset 0px 0px 0px 5px white;
    padding: 8.5% 0;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 0.9rem;
}

 #lookbook-row-box--nomargin {
    margin-right: 0;
}

.lookbook-row--calc-col-4 {
    width: calc(((100% / 6) * 4) - 1rem)
}

.lookbook-row-more {
    width: 25%;
    margin: 5% 0;
}

.lookbook-row-more__botao {
    width: 100%;
    padding: 5% 2%;
    background: white;
    border: 2px solid #5a6cd8;
    text-transform: uppercase;
    color: #5a6cd8;
    font-size: 1rem;
    font-weight: bold; 
}

.lookbook-row-dots {
    width: 25%;
    display: flex;
    justify-content: center;
}

.lookbook-row-dot {
    width: 8px;
    height: 8px;
    margin: 0 2%;
    border-radius: 100%;
    background: gray;
}

.lookbook-back {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.lookbook-back__text {
    width: 50%;
    color: #5a6cd8;
}

.lookbook-back__up {
    width: 30%;
    text-align: right;
}

.footer {
    background-image: url('../img/back-footer.jpg');
    background-size: cover;
    color: white;
    position: relative;
    padding-bottom: 5%;
}

.footer-sitemap {
    width: 100%;
    display: flex;
    padding: 5% 0;
    font-size: 0.8rem;
}

.footer-sitemap-area__title {
    width: 100%;
    color: #5a6cd8;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer-sitemap-area-list {
    margin: 3% 0 15% 0;
}

.footer-sitemap-area-list__item {
    margin: 2% 0;
}

.footer--left{
    float: left;
}

.footer--right {
    float: right;
    margin-right: 40%;
}

.footer-sitemap-area-social {
    display: flex;
}

.footer-sitemap-area-social__icon {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    margin: 0 2%;
    padding: 3.5%;
    color: black;
}

.footer-sitemap-area__signature {
    width: 20%;
    position: absolute;
    right: 18%;
    top: 35%;
}

.footer-search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    border: none;
}

.footer-search__title {
    width: 15%;
    margin: 0 2%;
}

.footer-search__campo {
    width: 70%;
    margin: 0 0 0 3%;
    padding: 2%;
}

.footer-search__botao {
    width: 15%;
    margin: 0 3% 0 0;
    padding: 2%;
}

.footer-info{
    display: flex;
    justify-content: space-between;
}

.footer-info__text {
    width: 40%;
}

.footer-info__text--right {
    text-align: right;
}

.social-box {
    width: 10%;
    position: fixed;
    right: 3%;
    top: 40%;
    border: 1px solid grey;
    border-top: 20px solid #5a6cd8;
    background: white;
}

.social-box__title {
    width: 70%;
    text-align: center;
    font-size: .8rem;
    margin: 25% auto;
}

.social-box-buttons {
    display: flex;
    align-items: center;
}

.social-box-buttons__button {
    width: 50%;
    flex-direction: column;
    padding: 15% 5%;
    background: white;
    border: 1px solid grey;
}

.social-box-buttons__button--face {
    color: #3b5998;
}

.social-box-buttons__button--twitter {
    color:  #00aced;
}